 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
    text-transform: capitalize;
    transition: all 0.2s linear;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
@keyframes floating{
    0%{ transform: translate(0,0px);}
    100%{ transform: translate(0,15px);}
    100%{ transform: translateY(0,-0px);}
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color)
}
section{
    
    padding: 80px 8%;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: #fff;
    transition: .5s;
}
.header.sticky{
    border-bottom: 1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 .1rem 1rem var(--bg-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    font-size: 1.8rem;
    font-weight:bold;
    color:var(--text-color);
    margin-left: 4rem;
    text-decoration: none;
    transition: .4s;
}
.navbar.active{
    display: block;
}
.navbar a:hover,.navbar a.active{
    color:var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: white;
    display:none;
}
.home{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.home-content h3{
    font-size: 2.3rem;
    font-weight: 700;
    animation:floating 0.8s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.domain{
    font-style: italic;
}

.home-content h1{
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.3;
    animation:floating 0.8s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
.home-image img{
    margin-left: 4rem;
    width: 45vw;
    animation:floating 0.8s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
.home-image:hover img{
    transform: scale(1.1);
}
.home-content p{
    font-style: italic;
    font-size: 1.8rem;
    animation:floating 0.8s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    
}
span{
    color: #0ef;
}
.red{
    color: rgb(255, 0, 106);
    font-weight: bolder
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(255, 0, 106);
    border-radius: 4rem;
    font-size: 1.6rem;
    color:black;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
}
.btn:hover{
    background-color: yellow;
}

.about{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img{
    width: 30vw;
    animation:floating 0.8s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
.heading{
    text-align: center;
    font-size: 4.5rem;

}
.heading-1{
    text-align: center;
    font-size: 4.5rem;
    border-bottom:.1rem solid #0ef;

}
.heading-2{
    top:9px;
    text-align: center;
    font-size: 4.5rem;
    border-bottom:.1rem solid #0ef;

}
.about-content{
    animation:floating 0.8s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
}
.about-content h2{
    text-align: left;
    list-style: 1.2;
}
.about-content h3{
    font-size: 2.6rem;

}
.about-content p{
    font-weight: 300;
    font-style: italic;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    
}
.row{
    margin-top: 5rem;
    margin-left:3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,auto));
    gap:3rem;
 }
.row li{
    
     background: #333;
     border-radius: 2.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 .row li img{
     height:120px;
     padding:1rem;
     align-content: center;
     object-fit: cover;
 }
 
.row li:hover{
     border-radius: 2rem;
     transition: none;
     background: #fff;
     
}
.projects{
    background-color: var(--second-bg-color);
}
.projects h2{
    margin-bottom: 4rem;
}
.project-content{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 4rem;
    align-items: center;
    cursor: pointer;
}
.project-content .col{
    position: relative;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.col img{
    width: 100%;
    transition: .3s ease;
}
.col:hover img{
    transform: scale(1.1);
}
.col .layer{
    background: linear-gradient(black,#0ef);
    height:100%;
    width:100%;
    color: black;
    position: absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .3s ease;

}
.col:hover .layer{
    transform: translateY(0);
}
.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.5),#0ef);

}
.layer h3{
    font-size: 3rem;
}

.layer h5{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.layer a{
    color: #0ef;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.skills h2{
    margin-bottom: 5rem;

}


.skills skill-box{
    align-items: center;
 }
 .skills .skill-box .row {
    margin-top: 5rem;
    margin-left:3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,auto));
    gap:1rem;
 }
 .skills .skill-box .row li{
    
     background: #333;
     border-radius: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 .skills .skill-box .row li img{
     height:120px;
     padding:1rem;
     align-content: center;
     object-fit: cover;
 }
 
 .skills .skill-box .row li :hover{
     border-radius: 1.2rem;
     transition: none;
     background: #0ef;
     
  }
  .skills .profile{
    font-size:2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:3rem;
}
.skills .profile li{
    flex:1 1 25rem;
    list-style: none;
    border-radius: 5rem;
    padding:1rem .4rem;
    margin: 2rem;
    background: #444;
    text-align: center;
}
.skills .profile li a{
    text-decoration: none;
    font-weight: 550;
}
.skills .profile li a span{
   color:#fff;
}
.skills .profile li:hover {
    background: var(--main-color);
    color: #1f242d;
}
.skills .profile li:active{
    background-color: rgb(212, 212, 9);
    transition: none;
}
.contacts h2{
    font-size: 35px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    
}

.icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;
    width: 11rem;
    height: 11rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius:47%;
    font-size: 4.7rem;
    color: var(--main-color);
    margin: 53px;
}

.icon a:hover{
    background-color: #0ef;
    color: rgb(255, 0, 106);
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
}
.footer p{
    font-weight: 700;
    color: #0ef;
    font-size: 1.6rem;
}
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    section{
        padding:2rem 3%;
    }
    .footer{
        padding:2rem 3%;
    }
}
@media (max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
        z-index: 100;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .home-image img{
        margin-top: 7rem;
    }
    .hello{
        font-size: 1.3;
    }
    .name{
        font-size:1.7rem;
    }
    .domain{
        font-size: 1.4rem;
    }
    .p{
        font-size: 1.3rem;
    }
    .icon a{
        font-size: 3rem;
        width: 8rem;
        height: 8rem;
        border-radius: 47%;
        padding:5rem;
    }
    .layer h3{
        font-size: .7rem;
    }
    .layer h5{
        font-size: .4rem;
        margin: .3rem 0 1rem;
    }
}
@media (max-width:480px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
        z-index: 100;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .home-image img{
        margin-top: 7rem;
        margin-left: -3.5rem;
    }
    .home-content p{
        font-size: 1rem;
    }
    .home-content h3{
        font-size: 1.5rem;
    }
    .home-content h1{
        font-size: 3.3rem;

    }
    .icon a{
        font-size: 3.6rem;
        width: 8rem;
        height: 8rem;
        border-radius: 47%;
        margin: 15px;
    }
    .layer h3{
        font-size: 3rem;
    }
    .layer h5{
        font-style: italic;
        font-size: 1.8rem;
        margin: .3rem 0 1rem;
    }
    .layer a{
        color: #0ef;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        background: var(--text-color);
        border-radius: 47%;
        background: transparent; 
    }
    .layer a i{
        font-size: 6rem;
    }
   .skills .skill-box .row{
       margin-left: 0rem;
   }
    .project-content{
        display:grid; 
        grid-template-columns: repeat(1, 4fr);
        grid-gap:3rem;
        align-items: center; 
        cursor:pointer;
        padding: 20px;
    }
    
}
    
    
